######################
# Project Specific
######################
target/**
cache/**

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Node
######################
/node/**
/node_modules/**
